/* root variables */
:root {
  --main-background: #f5f4e7;
  --dark-green-theme: #2a4a53;
  --main-text: #555555;
  --white: #ffffff;

  --container-width: 500px;
  --container-aspect-ratio: 604 / 574;

  --fish-rotation: 7.52deg;
  --strip-rotation: 16.52deg;
  --bubble-rotation: -16.52deg;
}

/* body */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1rem 0 2rem 0;
  gap: 0;
}

/* logo */
.logo {
  position: relative;
  width: 80px;
}

.logo img {
  width: 100%;
  height: auto;
}

/* containers */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 37.75rem;
  gap: 0.5rem;
  margin-top: 0;
  padding-top: 0;
}

.photobooth-container {
  position: relative;
  width: var(--container-width);
  aspect-ratio: var(--container-aspect-ratio);
  display: flex;
  justify-content: center;
  align-items: center; /* Căn giữa hình ảnh cố định */
  overflow: hidden;
  margin-top: 2vh;
}

@media screen and (max-width: 768px) {
  .photobooth-container {
    width: 90vw;
  }
}

/* menu page */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  width: 37.75rem;
  height: 100vh;
  height: 100dvh;
  gap: 0.75rem;
  margin-top: 3rem;
  padding: 0;
}

.menu-header {
  width: 300%;           
  position: relative;     
  left: -100%;            
  
  display: flex;          
  justify-content: center;
  align-items: center;

  aspect-ratio: 517 / 68;
  background-image: url('../Assets/photobooth/menupage/Header.png');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 1rem auto;
}

/* mock elements */
.photobooth-mock,
.photostrip-mock{
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
}

/* photobooth frame */
.photobooth-mock {
  z-index: 1;
  width: calc((375 / 604) * 100%);
  height: calc(534.4 / 574 * 100%);
  left: calc(114 / 604 * 100%);
  top: calc(20 / 574 * 100%);
  background-image: url('../Assets/photobooth/homepage/animated-photobooth-mock/1.jpg');
  opacity: 1;
}

/* photostrip */
.photostrip-mock {
  z-index: 2;
  width: calc((266.99 / 604) * 100%);
  height: calc(331.94 / 574 * 100%);
  right: calc(35 / 604 * 100%);
  top: calc(160 / 574 * 100%);
  background-image: url('../Assets/photobooth/homepage/photostrip-straight.png');
  transform: rotate(var(--strip-rotation));
}

/* button styling */
.button-container {
  margin-top: 0;
}

button {
  color: var(--main-text);
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: var(--white);
  border: 1px solid #1e1e1e;
  border-radius: 0.5rem;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

#select-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.56rem;
  width: 10rem;
  height: 3rem;
  padding: 0.5rem 1rem;
}

#menu-camera-button,
#menu-upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.56rem;
  width: 20rem;
  height: 5rem;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 768px) {
  #select-button {
    width: 8rem;
    height: 3.2rem;
    font-size: 1.2rem;
    padding: 0.4rem 0.5rem;
    gap: 0.4rem;
  }

  button {
    font-size: 1.5rem;
  }
}
.static-strip {
  width: 60%; 
  height: auto;
  z-index: 2;
  transform: rotate(5deg); 
  filter: drop-shadow(0 10px 20px rgba(0,0,0,0.2)); 
  transition: transform 0.3s ease;
}
.static-strip:hover {
  transform: rotate(0deg) scale(1.05); 
}
